<!--<div class="video-container" [ngStyle]="{'width': video.width + 'px', 'height': video.height + 'px'}">-->
<div class="video-container" [ngStyle]="{'width': video.width + 'px', 'height': video.height + 'px'}">
  <div class="id">
    Video id: {{video.id}}
  </div>

  <form class="form" [formGroup]="videoSizeForm">

    <label class="margin-right-1">Width (px):</label>
    <mat-form-field floatLabel="never">
      <input type="number" formControlName="width" matInput placeholder="Width" autocomplete="off">
    </mat-form-field>

    <label class="margin-right-1">Height (px):</label>
    <mat-form-field floatLabel="never">
      <input type="number" formControlName="height" matInput placeholder="Height" autocomplete="off">
    </mat-form-field>
  </form>


  <div class="size">
    url: {{video.url}}
  </div>
<hr>
  <div fxLayoutAlign="center center">
    <iframe width="{{video.width/3}}" height="{{video.height/3}}" [src]="url" frameborder="0" allowfullscreen></iframe>
  </div>

</div>
