<div fxLayoutAlign="space-between center">
    <app-master-config (settingsChanged)="onMasterSettingsUpdated($event)"></app-master-config>
  <div fxHide.lt-md>
    <button mat-raised-button color="accent" (click)="openAddVideoDialog()">
      + Add Video
    </button>
  </div>
</div>
<hr>
<h1>
  Videos:
</h1>
<div  fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="1rem">
  <div *ngFor="let video of videos">
    <app-video-container [video]="video" [masterHeight]="masterHeight" [masterWidth]="masterWidth"
    (videoSizeChanged)="onSizeChanged($event)"></app-video-container>
  </div>
</div>
